.banner
{
    background-image: url('/assets/img/ğ‘©ğ’“ğ’ğ’˜ğ’ ğ‘¨ğ’†ğ’”ğ’•ğ’‰ğ’†ğ’•ğ’Šğ’„.jpeg');
    height: 550px;
    margin-top: 200px;
    /* background-position: center top;
    background-size: cover; */
}
.ftProfil
{
    border: 5px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
}
.profil
{
    z-index: 2;
    text-align: center;
    margin-top: 200px;
}
.container
{
    background-color: #fff;
}
h1
{
    color: #fff;
    font-size: 20px;
}
.infoAkun
{
    margin-left: 50px;
}
.bookBox
{
    align-items:center;
    text-align: center;
    width: 160px;
    height: 320px;;
}
.bookBox img
{
    width: 120px;
    height: 180px;
    
}
.bookBox h1
{
    font-size: 15px;
    margin-top: 10px;
    color: black;
}
.bookBox p
{
    font-size: 12px;
    color: black;
}
a
{
    text-decoration: none;
}
.edit
{
    float: right;
    font-size: 25px;
}
.garis_verikal
{
    border-left: 1px gray solid;
    height: auto;
    width: 0px;
    padding-top: 5px;
    text-align: center;
}
.order
{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}
button
{
    margin-left: auto;
    margin-right: auto;
}

tbody
{
    margin-left: auto;
    margin-right: auto;
}