.bookBox
{
    align-items:center;
    text-align: center;
}
.bookBox img
{
    width: 120px;
    height: 180px;
    
}
.bookBox h1
{
    font-size: 18px;
    margin-top: 10px;
    color: black;
}
.pengarang
{
    font-size: 15px;
    color: black;
}
.card
{

    width: 100px;
    height: 130px;
}
a
{
    text-decoration: none;
}
.books
{
    background-color: #fff;
    margin-top: 0px;
}
.list-group
{
    margin-top: 60px;
    width: auto;
    overflow-x: scroll;
}
.list-group .list
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    white-space: nowrap;
    margin-bottom: 5px;
}
.list-group .list li
{
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: none !important;
}
.list-group .list li a
{
    color: #fff;
}
.kategori-list
{
    display: flex;
}
.list-group .list li .list-link.active-link
{
    background-color: #5fa7f0;
}
.title
{
    margin-top: 30px;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: underline;
}
.harga-book
{
    color: var(--primary-color);
}