.footer
{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: var(--primary-color);
    padding: 15px 10px;
}

h3
{
    color: #fff;
    font-size: 20px;
}

a{
    color: #fff;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 18px;
}

i{
    padding: 0px 10px;
}
.logo
{
    font-family: 'Staatliches';
    margin: 0px;
}
span
{
    margin-left: 5px;
    color: #fff;
}